In [ ]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
df = pd.read_csv('association.csv')
df = df.iloc[:, 1:]
df.head()
df = df.map(lambda x: 1 if x == True else 0)
frequent_itemsets = apriori(df, min_support=0.01, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

C:\Users\sakth\AppData\Roaming\Python\Python311\site-packages\mlxtend\frequent_patterns\fpcommon.py:161: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

        support                                           itemsets  length
0      0.383383                                            (Apple)       1
1      0.384384                                            (Bread)       1
2      0.420420                                           (Butter)       1
3      0.404404                                           (Cheese)       1
4      0.407407                                             (Corn)       1
...         ...                                                ...     ...
12219  0.010010  (Dill, Yogurt, Onion, Unicorn, Milk, chocolate...       7
12220  0.010010  (Dill, Ice cream, Yogurt, Sugar, Onion, Unicor...       7
12221  0.011011  (Dill, Ice cream, Sugar, Onion, Unicorn, Milk,...       7
12222  0.010010  (Dill, Ice cream, Yogurt, Onion, Unicorn, Milk...       7
12223  0.010010  (Ice cream, Yogurt, Onion, Unicorn, Milk, choc...       7

[12224 rows x 3 columns]

In [30]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) &
                   (frequent_itemsets['support'] >= 0.05) ]

      support              itemsets  length
16   0.154154        (Bread, Apple)       2
17   0.188188       (Butter, Apple)       2
18   0.162162       (Cheese, Apple)       2
19   0.186186         (Apple, Corn)       2
20   0.179179         (Dill, Apple)       2
..        ...                   ...     ...
131  0.191191       (Yogurt, Sugar)       2
132  0.188188    (chocolate, Sugar)       2
133  0.184184     (Yogurt, Unicorn)       2
134  0.186186  (chocolate, Unicorn)       2
135  0.198198   (Yogurt, chocolate)       2

[120 rows x 3 columns]

In [31]:
frequent_itemsets[ (frequent_itemsets['length'] == 3) ].head(3)

      support                itemsets  length
136  0.080080  (Butter, Bread, Apple)       3
137  0.066066  (Cheese, Bread, Apple)       3
138  0.080080    (Bread, Apple, Corn)       3

In [1]:
rules = association_rules(num_itemsets=frequent_itemsets, metric="lift", min_threshold=1.2)
rules["antecedents_length"] = rules["antecedents"].apply(lambda x: len(x))
rules["consequents_length"] = rules["consequents"].apply(lambda x: len(x))
rules.sort_values("lift",ascending=False)

NameError: name 'association_rules' is not defined